{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<h1>Your documents</h1>

{% if total_documents == 0 %}
  <div>You haven't uploaded/created document yet. <a href="{{ url_for('extractor.document_upload') }}">Upload your</a></div>
{% endif %}

{% if total_documents > 0 %}
    <div>
        <form action="{{ url_for('extractor.mydocuments', q=q) }}" method="GET" role="form">
            {{ wtf.form_field(form.q, placeholder='Search content') }}
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col" style="min-width: 250px">File</th>
                <th scope="col" style="min-width: 200px">Upload on</th>
                <th scope="col">Skills</th>
            </tr>
        </thead>
        {% for i in range(documents|length)%}
            <tr>
                <td>{{i + 1}}</td>
                <td>
                    <a href="{{ url_for('extractor.download_my_document', id=documents[i].id)}}">{{documents[i].title}}</a>
                </td>
                <td>{{documents[i].created_on}}</td>
                <td>{{documents[i].skills}}</td>
            </tr>
        {% endfor %}
    </table>

    <p><a href="{{ url_for('extractor.document_upload') }}">Upload file to extract skills</a></p>
{% endif %}

{% endblock %}